@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  margin: 0;
  padding: 20px;
  border: gray 1pt;
  font-family: 'Space Grotesk', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

html:before,html:after,body:before,body:after{
  content:"";
  background:#ffffff;
  position:fixed;
  display:block;
  z-index:5;
}

/* ...and position them! */
html:before{
  height:20px;
  left:0;
  right:0;
  top:0;
}
html:after{
  width:20px;
  top:0;
  right:0;
  bottom:0;
}
body:before{
  height:20px;
  right:0;
  bottom:0;
  left:0;
}
body:after{
  width:20px;
  top:0;
  bottom:0;
  left:0;
}

.border {
  position: fixed;
  height: calc(100vh - 43px);
  width: calc(100vw - 58px);
  text-align: center;
  border: #000000 solid 1pt;
}

.black-border {
  position: relative;
  width: 100%;
  text-align: center;
}

.black {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: black;
}

.gray {
  position: relative;
  height: calc(100vh - 40px);
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 3%;
}

#logo {
  margin-right: auto;
  height: 60px;
}
svg {
  margin-top: 22px;
  margin-bottom: 22px;
}
/* version 2
.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1{stroke:#000000;stroke-miterlimit:10;}
*/

.st0{
  fill:none;
  stroke-width:1.5;
  stroke-miterlimit:10;
}
.st1{
  fill:none;
  stroke-miterlimit:10;
}

.logo-black {
  stroke:#000000;
} 
.logo-white {
  stroke:#ffffff;
} 

/* FOOTER */
#footer {
  margin-top: 100px;
  padding-bottom: 60px;
  text-align: center;
}