#home {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#name {
  font-size: 60px;
  margin-bottom: 10px;
}

#self-description {
  font-size: 20px;
  margin-top: 0px;
}

#selected-works {
  margin-top: 60px;
}

#home p {
  font-size: 20px;
}