#home {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#about-myself {
  width: calc(50% - 10px);
  display: inline-block;
  margin-right: 10px;
}
#name {
  font-size: 60px;
  margin-bottom: 10px;
}
#self-description {
  font-size: 35px;
  margin-top: 0px;
}

#profile-image-wrapper {
  width: calc(50% - 10px);
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
#profile-image-wrapper img {
  width: 70%;
  margin: auto;
}

/* Tags */
#tags {
  margin-top: 10px;
  margin-bottom: 20px;
}
#tags span {
  margin-right: 20px;
}
#tags span:hover {
  text-decoration: underline;
}

/* Selected Works*/
#selected-works {
  margin-top: 60px;
  padding-bottom: 40px;
}

@media (min-width: 480px) {
  .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
@media (min-width: 1400px) {
  .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 10px;
}

.grid-item img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}
.work-description-selected {
  text-align: left;
}

.linkgg:link {
  color: #000000;
  text-decoration: none;
}
.linkgg:visited {
  color: #000000;
  text-decoration: none;
}
.linkgg:hover {
  color: #000000;
  text-decoration: underline;
}

#selected-works .title {
  color: #000000;
  font-size: 20pt;
}
#selected-works .tag {
  font-size: 14px;
  margin: 0 10px 0 0;
}