/* SDT PROJECT LIST*/

#space-design-tech {
  padding-top: 40.2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
  margin: 0 -1rem;
}
.card {
  margin: 1rem;
}
.card img {
  width: 100%;
}
@media (min-width: 480px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(33% - 2rem);
  }
}
@media (min-width: 1200px) {
  .card {
    width: calc(25% - 2rem);
  }
}

/* SDT PROJECT PAGE*/
.sdt-project-container {
  width: 45%;
  margin: 0 auto;
  text-align: left;
}
.sdt-project-container h1 {
  margin: 20px 0;
  font-size: 42pt;
}
.sdt-project-detail {
  margin-bottom: 30px;
}
.sdt-project-detail p {
  margin: 8px 0;
}
.sdt-project {
  padding-bottom: 80px;
}
.sdt-project p {
  line-height: 150%;
} 
.sdt-project a {
  color: #000000;
} 

/* HOW TO DO NOTHING */
#how-to-do-nothing-gif {
  margin: 10px auto;
  width: 70%;
  position: relative;
  left: 15%;
  z-index: -10;
}
#how-to-do-nothing-calender {
  margin: 10px auto;
  position: relative;
  left: -10%;
  width: 120%;
  z-index: -10;
}
#gadgets {
  padding: 20px 0;
  position: relative;
  left: -10%;
  width: 120%;
}
#gadgets img {
  width: 22.5%;
  border-radius: 50%;
  margin: 1.25%;
  z-index: -10;
}

/* SHARED KITCHEN */
.video_wrapper {
  margin: 40px auto 60px auto;
  position: relative;
  overflow: hidden;
  width: 120%;
  left: -10%;
  padding-top: 56.25%;
}
#shared-kitchen-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none
}
.sk-diagram {
  position: relative;
  left: -10%;
  width: 120%;
}
.sk-prototyping {
  margin: 40px auto;
  position: relative;
  left: -2.5%;
  width: 105%;
}
.sk-prototyping img {
  position: relative;
  width: 45%;
  margin: 0 2.5%;
}

/* URBAN CAMPSITE */
.urban-campsite-img{
  position: relative;
  width: 100%;
  margin: 10px 0;
}