/* SDT PROJECT LIST*/

#space-design-tech {
  padding-top: 40.2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
  margin: 0 -1rem;
}
.card {
  margin: 1rem;
}
.card img {
  width: 100%;
}
@media (min-width: 480px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(33% - 2rem);
  }
}
@media (min-width: 1200px) {
  .card {
    width: calc(25% - 2rem);
  }
}

/* SDT PROJECT PAGE*/
.sdt-project-container {
  width: 45%;
  margin: 0 auto;
  text-align: left;
}
.sdt-project-container h1 {
  margin: 20px 0;
  font-size: 42pt;
}
.sdt-project-detail {
  margin-bottom: 30px;
}
.sdt-project-detail p {
  margin: 8px 0;
}
.sdt-project {
  padding-bottom: 80px;
}
.sdt-project p {
  line-height: 150%;
} 
.sdt-project a {
  color: #000000;
} 

/* HOW TO DO NOTHING */
#how-to-do-nothing-gif {
  margin: 10px auto;
  width: 70%;
  position: relative;
  left: 15%;
  z-index: -10;
}
#how-to-do-nothing-calender {
  margin: 10px auto;
  position: relative;
  left: -10%;
  width: 120%;
  z-index: -10;
}
#gadgets {
  padding: 20px 0;
  position: relative;
  left: -10%;
  width: 120%;
}
#gadgets img {
  width: 22.5%;
  border-radius: 50%;
  margin: 1.25%;
  z-index: -10;
}

/* SHARED KITCHEN */
.video_wrapper {
  margin: 40px auto 60px auto;
  position: relative;
  overflow: hidden;
  width: 120%;
  left: -10%;
  padding-top: 56.25%;
}
#shared-kitchen-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none
}
.sk-diagram {
  position: relative;
  left: -10%;
  width: 120%;
}
.sk-prototyping {
  margin: 40px auto;
  position: relative;
  left: -2.5%;
  width: 105%;
}
.sk-prototyping img {
  position: relative;
  width: 45%;
  margin: 0 2.5%;
}

/* URBAN CAMPSITE */
.urban-campsite-img{
  position: relative;
  width: 100%;
  margin: 10px 0;
}

/* EXTRACTION REVDERSED */
#gif-diagrams-container {
  padding: 20px 0;
  position: relative;
  left: -10%;
  width: 120%;
}
#gif-diagrams-container img {
  width: 30.5%;
  border-radius: 50%;
  margin: 1.25%;
  z-index: -10;
}

/* URBAN-RURAL */
.li-cover{
  position: relative;
  margin: 30px 0;
  left: -20%;
  width: 140%;
}
.li-county {
  margin-top: 40px;
  margin-bottom: 6px;
}
.li-county-info p {
  margin: 3px 0;
}
.li-county-info .vote-pct-graph-cont {
  margin: 3px 0;
  height: 24px;
}
.li-county-info .li-label {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
}
.li-county-info .svg-cont {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.li-county-info span {
  height: 1em;
}
.li-county-info svg {
  position: relative;
  vertical-align: middle;
  height: 1em;
  margin: 0;
}
.li-county-info .pct-span {
  margin-left: 4px;
  font-size: 0.75em;
}
.li-county-info rect {
  height: 1em;
  width: 100%;
}
.li-county-info .voting-rep rect{
  fill: #ff0000;
}
.li-county-info .voting-dem rect{
  fill: #0000ff;
}

.li-county-info #voting-rep-lancaster {
  width: 44.9%;
}
.li-county-info #voting-dem-lancaster {
  width: 52.7%;
}
.li-county-info #voting-rep-platte {
  width: 77.8%;
}
.li-county-info #voting-dem-platte {
  width: 20.8%;
}
.li-county-info #voting-rep-hall {
  width: 66.4%;
}
.li-county-info #voting-dem-hall {
  width: 31.5%;
}
.li-county-info #voting-rep-buffalo {
  width: 70.5%;
}
.li-county-info #voting-dem-buffalo {
  width: 26.9%;
}
.li-map-cont {
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff;
  /*cursor: nesw-resize;*/
  transition: transform .4s;
}
/*
.li-map-cont:hover {
  transform: scale(2);
  z-index: 10;
}
*/
.li-map-cont div {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.li-map-cont div img {
  width: 100%;
}
.scatter-plot-cont {
  text-align: center;
  /*cursor: nesw-resize;*/
}
.scatter-plot-cont img {
  width: 100%;
  transition: transform .4s;
}
/*
.scatter-plot-cont img:hover {
  transform: scale(1.5);
  z-index: 10;
}
*/
.li-img-caption {
  font-size: 0.7em;
}