body {
  margin: 0;
  padding: 20px;
  border: gray 1pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border-black {
  position: relative;
  min-height: calc(100vh - 40px);
  width: 100%;
  text-align: center;
  border: black solid 1pt;
}

.black {
  position: relative;
  min-height: calc(100vh - 40px);
  width: 100%;
  text-align: center;
  border: black solid 1pt;
  background-color: black;
}

.gray {
  position: relative;
  min-height: calc(100vh - 40px);
  width: 100%;
  text-align: center;
  border: #eeeeee solid 1pt;
  background-color: #eeeeee;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2%;
}

#logo{
  margin-right: auto;
}


